@using ASUniversity.Application.DTOs.Subject
@using ASUniversity.Domain.Entities
@model SubjectUpdateDto
<section role="main" class="content-body card-margin">
    <header class="page-header">
        <h2>Create Subject </h2>


    </header>
   <div class="card-body">
                    <form class="form-horizontal form-bordered" method="post">
                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2" style="color:white" asp-for="Name">Name:</label>
                            <div class="col-lg-6">
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger "></span>
                            </div>
                        </div>
                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2" style="color:white" asp-for="Name">Credits:</label>
                            <div class="col-lg-6">
                                <input asp-for="Credits" class="form-control" placeholder="Credits">
                                <span asp-validation-for="Credits" class="text-danger "></span>
                            </div>
                        </div>
                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2" style="color:white" asp-for="Name">Faculty:</label>
                            <div class="col-lg-6">
                                <select class="form-control" asp-for="FacultyId" asp-items="new SelectList(Model.Faculties,nameof(Faculty.Id),nameof(Faculty.Name))"></select>
                                <span asp-validation-for="FacultyId" class="text-danger "></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                </div>
</section>